html {
    font-family: 'Grechen Fuemen', cursive;
    font-size: x-large;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAECD6;
}

main {
    padding: 16px;
}

footer {
    background-color: #4E6C50;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.5%;
    border-top: 5px solid #F2DEBA;
}

img {
    height: 200px;
}

nav {
    border-bottom: 5px solid #F2DEBA;
    padding: 16px;
}

nav a {
    color: #FAECD6;
    text-decoration: none;
    border-bottom: 1.5px solid #FAECD6;
    font-weight: bold;
    
}

nav a:hover {
    color: #F2DEBA;
    border-bottom: 1.5px solid #F2DEBA;
}

header {
    background-color: #820000;
}

img {
    box-shadow: 4px 4px 4px 2px #4E6C50;

}

h1 {
    text-shadow: 2px 2px 2px #820000;
}

h1:hover {
    text-shadow: 2px 2px 2px #4E6C50;
    transition: 1s;
}

tr:nth-child(even) {
    background-color: #F2DEBA;
}

h3 a {
    color: #4E6C50;
}

h3 a:hover {
    color: #820000;
    transition: .5s;
}

div a {
    text-decoration: none;
}

.recipes-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}
